@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* variaveis em css */
:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat",sans-serif;
}

*{
    padding: 0;
}
body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.header{
    padding: 2% 0 0 15% ;
}
.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__link{
    font-family:var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    gap: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.titulo-destaque{
    color: #22d4fd;
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    
}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-direction: column;
}
.apresentacao__links__subtitulo{
    font-family:var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border-color: var(--cor-terciaria);
    border: 2px solid;
    width: 50%;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
}

.apresentacao__imagem{
    width: 50%;    
}

.footer{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    
}
/* O @media é um condicional que permite que façamos alterações no css */
@media (max-width:1200px) {
    .header{
        padding: 6%;
    }
    .header__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}